name: CI

on: push
  push:

jobs:
  build:
    name: Run the README
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup stack
        uses: mstksg/setup-stack@v1

      - run: ./go
